.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

#expand-message{
	margin-top: 90px;
	width: 100%;
	margin-bottom: 90px
}

.navbar{
	height: 75px;
}

.spacer{
	height: 95px;
}

.card{
	height: max-content;
}